* {
  box-sizing: border-box;
}

a {
  pointer-events: auto;
}

h1 {
  text-transform:uppercase;
  font-family: helvetica;
  margin: 0;
}

img {
  width: 100%;
}

.pk-body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px solid black;
}


@keyframes bounce {
  0% {
    top: 140px;
  }
  50% {
    top: 145px;
  }
  100% {
    top: 140px;
  }
}

.sanrio {
  width: 50%;
  position: absolute;
  top: 140;
  left:370;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    top: 140px;
  }
  50% {
    top: 145px;
  }
  100% {
    top: 140px;
  }
}

.pokemon {
  width: 50%;
  position: absolute;
  top: 140;
  left:-110;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    top: 140px;
  }
  50% {
    top: 145px;
  }
  100% {
    top: 140px;
  }
}

.disney {
  width: 50%;
  position: absolute;
  top: 140;
  left:860;
  animation: bounce 2s infinite;
}

.pk-background {
  width: 100%;
}
